body {
	background-color: lightgreen;
	text-align: center;
}

h1 {
	font-style: bold;
	font-color: #32A186;
}

p {
	font-style: bold;
	font-size: 15pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

select {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 150px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: .5em;
	background-color: #fff;
}

input {
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 150px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: .5em;
	background-color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}