body {
	background-color: lightgreen;
	text-align: center;
}

p {
	font-style: bold;
	font-size: 15pt;
}

select {
	width: 150px;
}

#minWordLength {
	display: inline;
}

ul {
	list-style-type: none;
}