body {
	background-color: lightgreen;
	text-align: center;
}

h1 {
	font-style: bold;
}

p {
	font-style: bold;
	font-size: 15pt;
	margin-top: 10px;
}

select {
	width: 150px;
}

ul {
	list-style-type: none;
	text-align: center;
}